<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UnitTestLoginPage.Properties.Settings.DatabaseConnection"
            connectionString="Data Source=tfs.cspc1.uwindsor.ca;Initial Catalog=AgileDB21A9;User ID=AgileDB21A9;Password=AgileDB21A9#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>